# Archivos compilados de Maven
/target/

# Archivos de preferencias de NetBeans
/nbproject/private/
nbproject/project.properties
nbproject/project.xml

# Archivos del sistema operativo
.DS_Store
Thumbs.db